<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603643292964-6u4ps9sn9o5lh473nmtlfe77v4o4v3t4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603643292964-6u4ps9sn9o5lh473nmtlfe77v4o4v3t4</string>
	<key>API_KEY</key>
	<string>AIzaSyCtuxYOBBEjU0qwVeVe0_LqLJiSI9R162A</string>
	<key>GCM_SENDER_ID</key>
	<string>603643292964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>opgg.d-JOINUS</string>
	<key>PROJECT_ID</key>
	<string>opgg-8bbfb</string>
	<key>STORAGE_BUCKET</key>
	<string>opgg-8bbfb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:603643292964:ios:b584ca2c4aee53108317b1</string>
</dict>
</plist>
